<div class="Weather">

  	<h2>Current weather</h2>

  	<address>
  	{{area.location.city}}, {{area.location.state}}
  	</address>

	<div>
	  	<img src="https://icons.wxug.com/i/c/i/{{weather.current_observation.icon}}.gif" alt="weather_icon"/>	
	</div>


	<div>
	  	<strong>
	  		{{weather.current_observation.temp_f}} &deg;F
	  	</strong>
	</div>

	<br/>
	
	<input type="text" placeholder="Zip Code" onkeyup={{action @onKeyUp}}/> 
	<button>Submit</button>
</div>


